.hompage-style{
    background-image: url('../../background-images/homepage-back/homepage-background.jpg');
	background-size: cover;
}
.card-container-style{
    background: linear-gradient(-45deg,Gold,rgb(136, 7, 7),Gold);
	background-size: 200% 200%;
	animation: cardback 5s ease infinite;
}
  @keyframes cardback {
	0% {
		background-position: 0% 20%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 20%;
	}
}